<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>工作调度</title>
    <link href="/static/css/getwq.css" rel="stylesheet" type="text/css"/>
</head>
<script>
	void markStatus(type){
		
	}
</script>
<body>
<table>
  <tbody>
     <tr>
      <td>任务ID</td>
      <td>任务类别</td>
      <td>任务来源</td>
      <td>任务内容</td>
      <td>任务耗时</td>
      <td>任务耗时（其他因素）</td>
      <td>状态</td>
	  <td>操作</td>
    </tr>
{% for wq in wqList %}
    <tr>
      <td>{{ wq[0] }}</td>
      <td>{{ typeList[wq[1]][1] }}</td>
      <td>{{ wq[2] }}</td>
      <td>{{ wq[3] }}</td>
      <td>{{ wq[4] }}</td>
      <td>{{ wq[5] }}</td>
      <td>{{ statusList[wq[6]][1] }}</td>
	  <td>
      	<input type="button" value="处理" onClick="markStatus(2)">
        <input type="button" value="等待" onClick="markStatus(3)">
        <input type="button" value="放弃" onClick="markStatus(4)">
        <input type="button" value="完成" onClick="markStatus(1)">
      </td>
    </tr>
{% endfor %}
  </tbody>
</table>
</body>
</html>