<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>排号机</title>
</head>
<body>
<form action="setwq" method="post">
任务类型<select name="ttype">
{% for type in typeList %}
<option value={{ type[0] }}>{{ type[1] }}</option>
{% endfor %}
</select>
任务来源<input name="src" type="text">
任务内容<input name="data" type="text">
任务耗时<input name="timetospend" type="text">
任务耗时（其他因素）<input name="timetospend_o" type="text">
<input name="ttype" type="submit">
<input name="ttype" type="reset">
</form>
</body>
</html>